$color-basic: rgb(142, 200, 247);
$color-important: rgb(43, 110, 253);
$color-warning: rgb(0, 255, 213);
$color-shadow: #000;

$primary: 'Lucida Sans';
$secondary: 'Gill Sans';

.bg-basic {
  background-color: $color-basic;
}

.bg-important {
  background-color: $color-important;
}

.bg-warning {
  background-color: $color-warning;
}

.primary-font {
  font-family: $primary;
}

.secondary-font {
  font-family: $secondary;
}

.shadow {
  box-shadow: 5px 5px 15px $color-shadow;
}
