
// colors
$color-font-light: #fff;
$color-font-dark: #000;
$bg-color: #dbd3d3;
$bg-menu: rgb(51, 49, 17);
$color-header: #d6cd51;
$color-items-menu: #fcfdbc;

// font
$font-size: 15px;
$font-size-large: 18px;
$font-family: 'Open Sans', sans-serif;